# {{ ansible_managed }}

[Unit]
Description=Atlassian Jira
After=syslog.target network.target

[Service]
ExecStart=/atlassian/jira/application/current/bin/start-jira.sh
ExecStop=/atlassian/jira/application/current/bin/stop-jira.sh
PIDFile=/atlassian/jira/application/current/work/catalina.pid
Type=forking
User=jira
Group=atlassian

[Install]
WantedBy=multi-user.target
